<div class="container body">
  <div class="row text-center">
    <h2>Just a demo on how to display all subjects</h2>
    <div class="col-md-3">
      <select name="" id="" class="form-control">
        <option *ngFor="let sub of subjecs" value="">{{ sub.name }}</option>
      </select>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="min-height:300px;">
        <div class="card-block">
            
            <div class="mask flex-center rgba-black-strong">
                <p *ngFor="let nt of notes">{{nt.title}}</p>
                
            </div>
            
            <div class="card-text">
                
            </div>
            <br>
           
        </div>
      </div>
    
    </div>
    <div class="col-md-4">
      <div class="card" style="min-height:300px;">
        <div class="card-block">
            
            <div class="mask flex-center rgba-black-strong">
                <p *ngFor="let nt of notes">{{nt.description}}</p>
                
            </div>
            
            <div class="card-text">
                
            </div>
            <br>
           
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <br>
  <div class="container-fluid">
    <h2 class="text-center">Create a new Note</h2>
    <hr>
    <form>
       <div class="form-group">
        <label for="name">Subject</label>
        <input type="text" required class="form-control" id="name">
       </div>
       <br>
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" required class="form-control" id="name">
        </div>
        <br>
        <div class="form-group">
  
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <br>
        <button type="submit" class="btn btn-success">Add Notes</button>
    </form>
  </div>
</div>
