<p>home works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <div class="container">
       
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/fl2.jpeg" alt="">
                <img src="../../assets/images/fl2.jpeg" alt="">
            </div>
            <div class="col-md-6">
                <div class="card" style="min-height:300px;">
                    <div class="card-block">
                        
                        <div class="mask flex-center rgba-black-strong">
                            
                            <h1>Welcome to Flashcards</h1>
                        </div>
                        
                        <div class="card-text">
                            
                        </div>
                        <br>
                       
                    </div>
                </div>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/fl.jpeg" alt="">
            </div>
            <div class="col-md-6">
                <div class="card" style="min-height:300px;">
                    <div class="card-block">
                        <p>We help you to save <br> your important <br> notes </p>
                        
                        <div class="card-text">
                            
                        </div>
                        <br>
                       
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>